.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 80px;
}

.loading-3, .loading-3--1, .loading-3--2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    animation: jump-3 3s backwards infinite;
}

.loading-3--1 {
    left: 25px;
    animation-delay: .5s;
}

.loading-3--2 {
    left: 50px;
    animation-delay: 1s;
}
@keyframes jump-3 {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(60px);
    }

    50% {
        transform: translateY(60px);
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}