.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-2 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(88,88,88,0.5);
    box-sizing: border-box;
}

.loading-2--addon-1, .loading-2--addon-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(88,88,88,.7);
    box-sizing: border-box;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    animation: rotate-border-2 1s backwards linear infinite;
}

.loading-2--addon-2 {
    animation-delay: .5s;
}

@keyframes rotate-border-2 {
    0% {
        transform: rotate(45deg);
    }
    40% {
        transform: rotate(75deg);
    }
    60% {
        transform: rotate(375deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
