.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-8 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    border-right-color: transparent;
    border-left-color: transparent;
    animation: rotate-loading-8 1s infinite linear;
}

@keyframes rotate-loading-8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}